/* IMPORTA OS ARQUIVOS NESCESSARIOS */
@import url('./navbar.css');
@import url('./conteudo.css');
@import url('./rodape.css');
/* FONTES */
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Rowdies:wght@700&display=swap');
:root{ /* DEFINIÇÃO DAS VARIAVEIS */
    --cor-primaria: #ffffff;
    --cor-subtitulo: #3b3b3b;
    --cor-de-foco: #7050EF;
    --cor-de-foco-hover: #572ff7;
    --cor-fora-de-foco: #3A395D;
    --cor-fundo-selecao: #F7F5FF;
}
html {
    scroll-behavior: smooth;
}
*{ /* CONFIGURAÇÕES PARA TODOS ELEMENTOS */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    outline: none;
}
body{
    background: var(--cor-primaria);
}
/* configurações para os tamanhos de tela */
@media screen and (max-width: 1199px) {
    *{
        opacity: 0;
    }
}