/* FONTES */
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Rowdies:wght@700&display=swap');
:root{ /* DEFINIÇÃO DAS VARIAVEIS */
    --cor-primaria: #ffffff;
    --cor-subtitulo: #3b3b3b;
    --cor-de-foco: #7050EF;
    --cor-de-foco-hover: #572ff7;
    --cor-fora-de-foco: #3A395D;
    --cor-fundo-selecao: #F7F5FF;
}
html {
    scroll-behavior: smooth;
}
*{ /* CONFIGURAÇÕES PARA TODOS ELEMENTOS */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    outline: none;
}
body{
    background: var(--cor-primaria);
}
header .navbar{ /* NAVBAR */
    background: var(--cor-primaria);
    position:fixed;
    max-height: 67px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 35px;
}
header .navbar .nome h1{ /* NOME NA NAVBAR */
    color: var(--cor-de-foco);
    font-size: 32px;
    font-family: 'Fredoka One', cursive;
}
header .navbar .nome h1 span{ /* SPAN PARA MUDAR COR NO H1 */
    color: var(--cor-fora-de-foco);
    font-size: 32px;
    font-family: 'Fredoka One', cursive;
}
header .navbar .item{ /* DIV QUE CONTEM A LISTA DE ITENS DA NAVBAR */
    height: 100%;
    display: flex;
    align-items: center;
}
header .navbar .itens ul{ /* LISTA DE ITENS NA NAVBAR */
    list-style: none;
    display: flex;
    gap: 50px;
}
header .navbar .itens ul li a{ /* ÂNCORA DOS ITENS */
    text-decoration: none;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 7px;
    color: var(--cor-fora-de-foco);
    transition: all 0.4s ease-in-out;
}
header .navbar .itens ul li a:hover{ /* ITEM NO MENU QUANDO O MOUSE ESTIR SOBRE ELE */
    color: var(--cor-de-foco);
    background: var(--cor-fundo-selecao);
}
header .navbar .bt-contato{ /* BOTÃO DE CONTATO NA NAVBAR */
    text-decoration: none;
    cursor: pointer;
    border: none;
    font-size: 10px;
    border-radius: 12px;
    padding: 14px 30px;
    color: var(--cor-primaria);
    background: var(--cor-de-foco);
    box-shadow: -1px -1px 3px #63626252,
    1px 1px 3px #63626252;
    transition: all 0.2s ease-in-out;
}
header .navbar .bt-contato:hover{
    font-size: 12px;
    padding: 15px 32px;
}
/* CONTEUDO DO SITE EM SÍ */
main section{ /* todas as <SECTION> DA PÁGINA*/
    height: 100vh;
    padding: 0 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
main section.inicio{ /* PRIMEIRA <SECTION> DA PAGINA*/
    padding: 0 75px;
    height: 100vh;
}
main .inicio .conteudo{ /* BLOCO DE TEXTO DO CONTEÚDO DA PÁGINA */
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
main .inicio .conteudo h3{ /* SUBTITULO DO CONTEÚDO */ 
    color: var(--cor-subtitulo);
    font-size: 50px;
    font-family: 'Rowdies', cursive;
}
main .inicio .conteudo p{ /* PARÁGRAFO EMBAIXO DO SUBTITULO */
    margin-left: 20px;
    font-size: 16px;
    color: var(--cor-subtitulo);
}
main .inicio .conteudo a{  /* BOTÃO 'ENTRE EM CONTATO' ABAIXO DO SUBTITULO */
    margin-left: 40px;
    font-size: 16px;
    border-radius: 12px;
    margin-top: 40px;
    padding: 10px 30px;
    text-decoration: none;
    color: var(--cor-primaria);
    background-color: var(--cor-de-foco);
    transition: all 0.5s ease-in-out;
}
main .inicio .conteudo a:hover{ /* QUANDO O MOUSE ESTIVER SOBRE O BOTÃO */
    background-color: var(--cor-de-foco-hover);
}
 /* CAIXAS DE TEXTO QUE CONTÉM OS TEXTOS '<DEV>' E 'DESIGNER' */
main .inicio .caixas-texto{
    padding-top: 10vh;
    padding-bottom: 10vh;
    height: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
main .inicio .caixas-texto .texto{ /* BLOCO DE TEXTO ESTILIZADO */
    color: var(--cor-fora-de-foco);
    min-height: 200px;
    width: 450px;
    padding: 20px 40px;
    padding-bottom: 30px;
    border-radius: 25px;
    background: #ffffff;
    box-shadow:  16px 16px 88px #d6d6d6,
                -16px -16px 88px #ffffff;
}
main .inicio .caixas-texto .texto h2{
    margin-left: 20px;
    margin-bottom: 25px;
    font-size: 30px;
}
main .inicio .caixas-texto .texto p{
    font-size: 18px;
}
main .sobre-mim{ /* <SECTION> PAGINA SOBRE MIM */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
main .sobre-mim .texto{
    border-radius: 50px 4px 50px 4px;
    width: 60%;
    padding: 35px 35px;
    padding-bottom: 60px;
    color: var(--cor-fundo-selecao);
    font-family: 'Fredoka One', cursive;
    background-color: var(--cor-de-foco);
}
main .sobre-mim h2{
    font-size: 40px;
    margin-bottom: 20px;
    margin-left: 50px;
}
main .sobre-mim p{
    font-size: 18px;
    line-height: 25px;
    text-indent: 12px;
    letter-spacing: 1px;
}
main .sobre-mim .imagem img{
    width: 400px;
}
main section.contato{
    height: calc(100vh - 57px);
}
footer{
    height: 240px;
    background: var(--cor-fora-de-foco);
}